.App {
  display: block;
  overflow: auto;
  padding: 1rem 3em 3rem;
  min-height: 100%;
  width: 100%;
  font-size: 200%;
  background: url('/knit1.png');
}

.bk {
  mix-blend-mode: overlay;
  background-size: contain;
  position: fixed;
  width: calc(100% + 3em);
  height: calc(100% + 3em);
  left: -3em;
  top: -3em;
  background: url('/2.png');
  min-height: 15rem;
  pointer-events: none;
}

.bk:after {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 1;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
