.grid-container {
  counter-reset: section;
  & > * {
    float: left;
    text-shadow: 1px 1px 1px #000;
    width: calc(50% - 6px);
    margin: 3px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      transform: translateZ(0);
    }

    @media (min-width: 720px) {
      width: calc(25% - 6px);
    }

    @media (min-width: 980px) {
      width: calc(16.666% - 6px);
    }

    &:empty:hover {
      background: #aaa;
      border: 2px dashed rgba(255, 255, 255, 1);
    }

    span {
      content: attr(data-content);
      display: block;
      position: absolute;
      bottom: 0;
      background: rgba(0, 0, 0, 0.6);
      color: white;
      width: 100%;
      padding: 1em;
      transition: all 0.3s ease-in;
      opacity: 0;
      transform: translateY(100%);
    }

    &:hover span {
      transform: translateY(0);
      opacity: 1;
    }
  }

  small {
    font-size: 80%;
  }

  svg {
    fill: rgba(255, 255, 255, 1);
    margin: 4rem;
  }
  & > button {
    &::before {
      counter-increment: section;
      content: counter(section) ' Dec';
      display: block;
      position: absolute;
      color: white;
      z-index: 1;
      left: 0;
      bottom: 0;
      font-size: 120%;
      padding: 3px 5px;
      background: rgba(0, 0, 0, 0.6);
      opacity: 1;
      transition: all 0.3s ease-in;
    }

    &:hover::before {
      opacity: 0;
      transform: translateY(100%);
    }
  }
}

.title {
  grid-area: 1 / 1 / 3 / 3;
  display: flex;
  font-size: 130%;
  align-items: flex-end;
  text-align: right;
  overflow: visible;
  line-height: 0.7;

  h1 {
    padding: 0;
    margin: 0;
    color: #fff;
    margin-right: 1rem;
    margin-bottom: 2rem;
  }
  small {
    font-size: 30%;
    margin-left: 0.7rem;
  }
  strong {
    font-size: 210%;
    margin-right: -0.4rem;
    display: block;
  }

  &::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 0;
    padding-bottom: 100%;
  }

  &:hover {
    border: none;
    background: none;
  }

  @media (min-width: 720px) {
    width: calc(50% - 6px);
  }

  @media (min-width: 980px) {
    width: calc(33.3% - 6px);
  }
}
