.grid-container {
  margin-top: 3em;
  counter-reset: section;

  & > button,
  & > div {
    counter-increment: section;
  }

  & > div::after {
    content: counter(section) ' Dic';
    display: block;
  }

  &::after {
    clear: both;
    content: '';
    height: 3em;
    width: 1px;
    display: block;
  }

  & > * {
    float: left;
    text-shadow: 1px 1px 1px #000;
    width: calc(50% - 6px);
    margin: 3px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    overflow: hidden;

    @media (min-width: 600px) {
      width: calc(25% - 6px);
    }

    @media (min-width: 980px) {
      width: calc(16.666% - 6px);
    }

    &:empty {
      cursor: default;
      mix-blend-mode: none;
      background: rgba(255, 255, 255, 0.3);
      border: 2px dashed rgba(255, 255, 255, 1);
    }

    &::before {
      content: '';
      display: inline-block;
      width: 1px;
      height: 0;
      padding-bottom: 100%;
    }

    img {
      width: 100%;
      transform: translateZ(0);
    }

    .song-info {
      font-size: 140%;
      display: block;
      position: absolute;
      bottom: 0;
      background: rgba(0, 0, 0, 0.6);
      color: white;
      width: 100%;
      padding: 1em;
      transition: all 0.3s ease-in;
      transform: translateY(100%);
      text-align: left;
      &::before {
        position: absolute;
        top: 0;
        transform: translateY(-100%);
        left: 0;
        padding: 10px;
        content: counter(section) ' Dic';
        display: block;
        transition: all 0.3s ease-in;
        opacity: 1;
        background: rgba(0, 0, 0, 0.6);
      }
    }

    &:hover .song-info {
      transform: translateY(0);

      &::before {
        transform: translateY(0);

        top: 100%;
        opacity: 0;
      }
    }
  }

  small {
    font-size: 80%;
  }
}

.title {
  cursor: default;
  display: flex;
  font-size: 90%;
  align-items: flex-end;
  text-align: right;
  overflow: visible;
  line-height: 0.7;

  h1 {
    padding: 0;
    margin: 0;
    color: #fff;
    margin-bottom: 2rem;
  }
  small {
    font-size: 30%;
    margin-left: 0.7rem;
  }
  strong {
    font-size: 210%;
    margin-right: -0.4rem;
    display: block;
  }

  &:hover {
    border: none;
    background: none;
  }

  @media (min-width: 600px) {
    width: calc(50% - 6px);
  }

  @media (min-width: 980px) {
    width: calc(33.3% - 6px);
  }

  @media (min-width: 400px) {
    font-size: 130%;
  }
  @media (min-width: 600px) {
    font-size: 80%;
  }
  @media (min-width: 750px) {
    font-size: 100%;
  }
  @media (min-width: 920px) {
    font-size: 130%;
  }
  @media (min-width: 980px) {
    font-size: 100%;
  }
  @media (min-width: 1170px) {
    font-size: 130%;
  }
}
